*{
    box-sizing: border-box;
    /* O width e height definem o tamanho total do elemento, 
    incluindo bordas e preenchimentos. 
    O conteúdo interno diminui para acomodar a borda.*/
    margin: 0;
    /* Removendo as margins padrão de alguns elementos para
    evitar confusão com tamanhos*/
    padding: 0;
    /* Removendo os paddings padrão de alguns elementos para
    evitar confusão com tamanhos*/
    font-family: Arial, Helvetica, sans-serif;
}
a:visited {
    color: black;                /* Mantém a cor mesmo após clicar */
}
span{
    font-style: italic;
    font-size: 15px;
    color: gray;
}

#Titulos{
    text-decoration: underline;
}
body{
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#paginaTotal{
    width: 70%;
}

.navegacao {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0.4%;
    background-color: white;
}

#logos{
    display: flex;
    align-items: center;
    gap: 5%;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    width: 100%;
    background-color: white;
}

#um,#dois{
    display: inline-block;
}

#um{
    width: 40%;
    border-right: solid gray;
}
#dois{
    width: 60%;
}

#informacoes{
    display: flex;
    gap: 5%;
    padding-top: 2%;
}

#tres,#quatro,#cinco,#seis{
    margin: 0%;
}

#tres,#cinco{
    height: 250px;
    background-color: #f3e4de;
}

#tres{
    display: flex;
    justify-content: center;
    align-items: center;
}
#fotoPerfil{
    border-radius: 20%;
    border: solid white;
}

#quatro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cinco{
    padding: 1%;
}

#seis{
    padding: 5% 0 5% 0;
}

#Experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

#Educacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}